.App {
  margin: 0 auto;
  text-align: center;
  background-color: #313A48;
  max-width: 300px;
  border-radius: 15px;
  color: #CEE3E9;
  padding: 1.5em 1em 3.5em 1em;
  position: relative;
}

@media screen and (min-width:600px){
  .App {
    padding: 2em 2em 4em 2em;
    max-width: 550px;
  }
}
